:root {
  --main-color: #0284c7; /* Tailwind Sky 600 */
  --main-color-active: #0369a1; /* Tailwind Sky 700 */
  --main-bg-color: #e5e7eb; /* Tailwind Gray 200 */
  --accent-color: #eab308; /* Tailwind Yellow 500 */
  --box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.5);
  --content-pad: 1rem 2rem;
}

body {
  font-family: "Roboto", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template: auto 1fr / 300px 1fr;
  min-height: 100vh;
}

.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  padding: 1rem;
  color: #fff;
  background-color: var(--main-color);
}

.sidebar-title {
  font-size: 1.75rem;
}

.sidebar-list {
  margin-top: 3.5rem;
  padding-left: 0.5rem;
}

.sidebar-list > .sidebar-icon-item {
  gap: 1.5rem;
}

.sidebar-list > .sidebar-icon-item:nth-child(n + 2) {
  margin-top: 1rem;
}

.sidebar-icon-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar-icon-big {
  width: 3rem;
}

.sidebar-icon-small {
  width: 1.5rem;
}

.header {
  grid-area: 1 / 2 / 2 / -1;
  padding: var(--content-pad);
  background-color: #fff;
}

.header-nav,
.header-nav-search,
.header-nav-profile,
.header-nav-profile-section {
  display: flex;
  align-items: center;
}

.header-nav {
  gap: 4rem;
}

.header-nav-search {
  gap: 0.75rem;
  width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.header-nav-search input[type="search"] {
  border: none;
  border-radius: 5rem;
  padding: 0.25rem 1rem;
  font-size: 1.1rem;
  width: 100%;
  background-color: var(--main-bg-color);
}

.header-nav-search input[type="search"]:focus {
  box-shadow: var(--box-shadow);
}

.header-nav-icon {
  display: block;
  width: 1.75rem;
}

.header-nav-profile-section {
  gap: 1.5rem;
}

.header-nav-profile {
  gap: 0.75rem;
  font-size: 1.1rem;
  font-weight: bold;
  width: max-content;
}

.header-main,
.header-main-profile,
.header-btn-container {
  display: flex;
  align-items: center;
}

.header-main {
  margin-top: 2rem;
  justify-content: space-between;
}

.header-main-profile {
  gap: 1rem;
}

.header-main-text-container {
  font-weight: bold;
}

.header-main-text-small {
  font-size: 0.8rem;
}

.header-main-text-big {
  font-size: 1.2rem;
}

.header-btn-container {
  gap: 1.5rem;
}

.header-main-btn {
  cursor: pointer;
  width: 6rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5rem;
  color: #fff;
  background-color: var(--main-color);
  font-weight: bold;
}

.header-main-btn:hover,
.header-main-btn:active {
  background-color: var(--main-color-active);
  box-shadow: var(--box-shadow);
}

.profile-img > img {
  border-radius: 50%;
}

.profile-img-small {
  width: 3rem;
}

.profile-img-big {
  width: 4.5rem;
}

.main {
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  grid-area: 2 / 2 / -1 / -1;
  padding: var(--content-pad);
  background-color: var(--main-bg-color);
}

.projects {
  grid-area: 1 / 1 / -1 / 2;
}

.announcements {
  grid-area: 1 / 2 / 2 / -1;
}

.trending {
  grid-area: 2 / 2 / -1 / -1;
}
