:root {
  --main-color: #0284c7; /* Tailwind Sky 600 */
  --accent-color: #eab308; /* Tailwind Yellow 500 */
}

body {
  font-family: "Roboto", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.container {
  display: grid;
  grid-template: auto 1fr / 300px 1fr;
  min-height: 100vh;
}

.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  padding: 1rem;
  color: #fff;
  background-color: var(--main-color);
}

.sidebar-title {
  font-size: 1.75rem;
}

.sidebar-list {
  margin-top: 3.5rem;
  padding-left: 0.5rem;
}

.sidebar-list > .sidebar-icon-item {
  gap: 1.5rem;
}

.sidebar-list > .sidebar-icon-item:nth-child(n + 2) {
  margin-top: 1rem;
}

.sidebar-icon-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar-icon-big {
  width: 3rem;
}

.sidebar-icon-small {
  width: 1.5rem;
}

.header {
  grid-area: 1 / 2 / 2 / -1;
  background-color: #fff;
}

.main {
  grid-area: 2 / 2 / -1 / -1;
  background-color: #e5e7eb; /* Tailwind Gray 200 */
}
