:root {
  --main-color: #0284c7; /* Tailwind Sky 600 */
  --main-color-active: #0369a1; /* Tailwind Sky 700 */
  --main-bg-color: #e5e7eb; /* Tailwind Gray 200 */
  --accent-color: #eab308; /* Tailwind Yellow 500 */
  --text-light: #334155; /* Tailwind Slate 700 */
  --box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.25);
  --icon-width: 1.75rem;
}

body {
  font-family: "Roboto", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

button {
  cursor: pointer;
}

.container {
  display: grid;
  grid-template: auto 1fr / 300px 1fr;
  min-height: 100vh;
}

.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  padding: 1rem;
  color: #fff;
  background-color: var(--main-color);
}

@supports (position: sticky) {
  .sidebar {
    position: sticky;
    height: 100vh;
    top: 0;
  }
}

.sidebar-title {
  font-size: 1.75rem;
}

.sidebar-list {
  margin-top: 3.5rem;
  padding-left: 0.5rem;
}

.sidebar-list > .sidebar-icon-item {
  gap: 1.5rem;
}

.sidebar-list > .sidebar-icon-item:nth-child(n + 2) {
  margin-top: 1rem;
}

.sidebar-icon-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar-icon-big {
  width: 3rem;
}

.sidebar-icon-small {
  width: 1.5rem;
}

.header {
  grid-area: 1 / 2 / 2 / -1;
  padding: 1rem 2rem;
  background-color: #fff;
}

.header-nav,
.header-nav-search,
.header-nav-profile,
.header-nav-profile-section {
  display: flex;
  align-items: center;
}

.header-nav {
  gap: 4rem;
}

.header-nav-search {
  gap: 0.75rem;
  width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.header-nav-search input[type="search"] {
  border: none;
  border-radius: 5rem;
  padding: 0.25rem 1rem;
  font-size: 1.1rem;
  width: 100%;
  background-color: var(--main-bg-color);
}

.header-nav-search input[type="search"]:focus {
  box-shadow: var(--box-shadow);
}

.header-nav-icon {
  display: block;
  width: var(--icon-width);
}

.header-nav-profile-section {
  gap: 1.5rem;
}

.header-nav-profile {
  gap: 0.75rem;
  font-size: 1.1rem;
  font-weight: bold;
  width: max-content;
}

.header-main,
.header-main-profile,
.header-btn-container {
  display: flex;
  align-items: center;
}

.header-main {
  margin-top: 2rem;
  justify-content: space-between;
}

.header-main-profile {
  gap: 1rem;
}

.header-main-text-container {
  font-weight: bold;
}

.header-main-text-small {
  font-size: 0.8rem;
}

.header-main-text-big {
  font-size: 1.2rem;
}

.header-btn-container {
  gap: 1.5rem;
}

.header-main-btn {
  width: 6rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5rem;
  color: #fff;
  background-color: var(--main-color);
  font-weight: bold;
}

.header-main-btn:hover,
.header-main-btn:active {
  background-color: var(--main-color-active);
  box-shadow: var(--box-shadow);
}

.profile-img > img {
  border-radius: 50%;
}

.profile-img-small {
  width: 3rem;
  min-width: 3rem;
}

.profile-img-big {
  width: 4.5rem;
  min-width: 4.5rem;
}

.main {
  display: grid;
  grid-template: 1fr 1fr / 3fr 1fr;
  grid-area: 2 / 2 / -1 / -1;
  gap: 3rem 1.5rem;
  padding: 2rem;
  background-color: var(--main-bg-color);
}

.projects {
  grid-area: 1 / 1 / -1 / 2;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1.5rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.75rem;
  height: 100%;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--accent-color);
}

.card-title {
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
}

.card-description {
  margin-bottom: 1.5rem;
  color: var(--text-light);
}

.card-btn-container {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
  gap: 1rem;
}

.card-btn {
  border: none;
  border-radius: 50%;
  background: none;
  padding: 0.5rem;
  width: calc(var(--icon-width) + 0.5rem);
}

.card-btn:hover,
.card-btn:active {
  background: rgba(0, 0, 0, 0.1);
}

.announcements {
  grid-area: 1 / 2 / 2 / -1;
}

.trending {
  grid-area: 2 / 2 / -1 / -1;
}
